# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/

# Environment
.env
venv/
.venv/
ENV/
env/

# Airflow
logs/
*.log
airflow.db
airflow.cfg

# Ignore all files inside data
data/*

# But keep folder structure
!data/.gitkeep
!data/bronze/
!data/silver/
!data/gold/

# And keep gitkeep files inside them
!data/bronze/.gitkeep
!data/silver/.gitkeep
!data/gold/.gitkeep

# Jupyter/IPython
.ipynb_checkpoints/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db